@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div>
    <h2>Wines</h2>
    <NavLink href="/winelist">Go To Wine List</NavLink>
</div>
