@inherits LayoutComponentBase
@using WineCellar.Blazor.UI.Pages

@*<BlazoredModal />*@


@*<div class="sidebar">
        <NavMenu />
    </div>*@

@**@


<div class="main">

    <TopNavBar />

    <div class="content px-4 container-fluid">
        @Body
    </div>

</div>
