<!--<div class="alert alert-secondary" role="alert">-->
    @*<span class="oi oi-pencil mr-2" aria-hidden="true"></span>*@
    <!--<span class="oi oi-home"></span>
    <NavLink href="/">Home</NavLink>-->
    @*<strong>@Title</strong>*@
<!--</div>-->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wine Cellar In Blazor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="wine">Wine List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vendor">Vendors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vineyard">Vineyards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="wine/priceadjust">Price Adjust</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>
</nav>
