@page "/"

<h1>World of Wines</h1>

Best wines anywhere in the world.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<div>
    <WineList Count="3" Title="Here's a brief summary of our wine list." />    
</div>*@
