@page "/wine"
@using WineCellar.Blazor.Shared.Models

<TopNavBar />

@if (!Saved)
{
    @if (Wines == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div id="wines" class="widget">
            <h3>
                Wines(@Wines.Count())
                <span class="float-right">
                    <input type="checkbox" id="showCards" @bind="ShowCards" />
                    <label for="showCards">Show Cards</label>
                    <a href="/wineedit" class="btn btn-primary">Add Wine</a>
                </span>
            </h3>

            @if (ShowCards)
            {
                <input type="checkbox" id="showFooter" @bind="ShowFooter" />
                <label for="showFooter">Show Footer</label>

                <div class="container">
                    <div class="card-deck">
                        @foreach (var wine in Wines)
                        {
                            <WineCard Wine="wine" ShowFooter="ShowFooter" />
                        }
                    </div>
                </div>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Year</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var wine in Wines)
                        {
                            <WineRow Wine="wine"></WineRow>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
}
else
{
    <div class="alert @StatusClass">@Message</div>
    <a class="btn btn-outline-primary" @onclick="@NavigateToWineList">Back to wine list</a>
}





