@{
    ViewBag.Title = "About Us";
}

<div class="col-md-6 col-md-offset-3">
    <blockquote class="blockquote">
        <p class="mb-0">
            Great website for wine info!
        </p>
    </blockquote>
</div>